#services{
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.box{
    
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid white;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.box img{
    width: 100px;
    height: 100px;
    background-color: white;
    margin-right: 50%;
    
}
